<!DOCTYPE html>
<html ng-app="dynamite">

<head>
	<title>Dynamite</title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "font-awesome", media: "all", "data-turbolinks-track" => true %>
	
	<%= csrf_meta_tags %>
</head>


<body>
	<header ng-controller="header">
		<div class="row red" id="headerBar">
			<h1 class="siteTitle">Dynamite</h1>
			<!-- <button class="button button_inverse" id="loadData" ng-click="loadData()">Load Data</button> -->
			<a class="signInIcon" href="auth/facebook"><i class="icon-facebook-sign"></i></a>
			<a class="signInIcon" href="auth/twitter"><i class="icon-twitter-sign"></i></a>
		</div>
		<div class="row white" id="secondaryBar">
			
			<input class="searchTopic" type="text" ng-change="change()" ng-model="searchTerm" placeholder="search for a topic"/>
		</div>
	</header>
	
	<div id="main" when-scrolled="console.log('hi')">
		<section class="sidebar">
		
		</section><section class="mainContent silver">
			<%= yield %>
		</section>
	</div> <!-- end #body -->
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.js"></script>
	<%= javascript_include_tag "application" %>
	
		
</body>

</html>