<!DOCTYPE html>
<html ng-app="dynamite">

<head>
	<title>Dynamit</title>
	
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "font-awesome", media: "all", "data-turbolinks-track" => true %>
	
	<%= csrf_meta_tags %>
</head>


<body>
	<header ng-controller="header">
		<div class="row red" id="headerBar">
			<h1 class="siteTitle"><a href="landing.html">Dynamit</a></h1>
			
			<input class="searchBar" type="text" ng-change="change()" ng-model="searchTerm" placeholder="search for a topic"/>	
			
			<div class="rightButtons">
				<a class="logoutButton button button_inverse" href="auth/facebook">Logout</a>
				<!--
<a class="signInIcon" href="auth/facebook"><i class="icon-facebook-sign"></i></a>
				<a class="signInIcon" href="auth/twitter"><i class="icon-twitter-sign"></i></a>
-->
			</div>
		</div>
	<% if !@hide_search_bar %>
		<div class="row white" id="secondaryBar">
	
			<input class="searchTopic" type="text" ng-change="change()" ng-model="searchTerm" placeholder="search for a topic"/>
		</div>
	<% end %>
	</header>
	
	<div id="main">
		<section class="mainContent silver">
			<%= yield %>
		</section>
	</div> <!-- end #body -->
	
	<script src="//codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.js"></script>
	
	<%= javascript_include_tag "application" %>
	
	<script>
		$(document).ready(function(){
			$("header").sticky({topSpacing:0});
		});
	</script>
	
</body>

</html>